<div>
  <h1>Hello World</h1>
</div>
<div class="createbutton1 plausible-event-name=Create+Button+Click" id="createbutton"> <button onclick="fathom.trackGoal('IPX9VXYO', 0);" (click)="CreateButton()">Create Button</button> </div>
<div class="deletebutton1 plausible-event-name=Delete+Button+Click" id="deletebutton"><button onclick="fathom.trackGoal('AXIAEMUD', 0);">delete button</button></div>
<div class="updatebutton1 plausible-event-name=Update+Button+Click" id="updatebutton"><button onclick="fathom.trackGoal('I9A7N0PA', 0);">update button</button></div>
<div class="downloadbutton1 plausible-event-name=Download+Button+Click" id="downloadbutton"><button onclick="fathom.trackGoal('YLDVHKJ7', 0);">download button</button></div>
<div class="timepassbutton1 plausible-event-name=TimePass+Button+Click" id="timepassbutton"><button onclick="fathom.trackGoal('COCRZ3GD', 0);">Time pass button</button></div>
<div class="passtimebutton1 plausible-event-name=PassTime+Button+Click" id="passtimebutton"><button onclick="fathom.trackGoal('ZGZLNY6O', 'pasTime123');">Pass Time button</button></div>

<div class="samebutton" id="SameButton"><button (click)="SameButton1()">Same button1</button></div>
<div class="samebutton" id="SameButton"><button (click)="SameButton2()">Same button 2</button></div>
<router-outlet></router-outlet>