<div>
  <h1>Hello World</h1>
</div>
<div class="createbutton1 plausible-event-name=Create+Button+Click" data-analytics='"Create+Button+Click", {"props":{"page":"home"}}' id="createbutton"> <button (click)="CreateButton()">Create Button</button> </div>
<div class="deletebutton1" data-analytics='"Delete", {"props":{"page":"Delete"}}' id="deletebutton"><button (click)="deleteButton()">delete button</button></div>
<div class="updatebutton1 plausible-event-name=Update+Button+Click" id="updatebutton"><button >update button</button></div>
<div class="downloadbutton1 plausible-event-name=Download+Button+Click" id="downloadbutton"><button >download button</button></div>
<div class="timepassbutton1 plausible-event-name=TimePass+Button+Click" id="timepassbutton"><button >Time pass button</button></div>
<div class="passtimebutton1 plausible-event-name=PassTime+Button+Click" id="passtimebutton"><button >Pass Time button</button></div>

<div class="samebutton" id="SameButton"><button (click)="SameButton1()">Same button1</button></div>
<div class="samebutton" id="SameButton"><button (click)="SameButton2()">Same button 2</button></div>
<div class="">
  <form>
    <h1>label</h1>
    <input type="text">
    <button type="submit" data-analytics='"Submit", {"props":{"fleetID":"lmfleet001"}}'>Submit</button>
  </form>
</div>
<router-outlet></router-outlet>