<div>
  <h1>Hello World</h1>
</div>
<div class="createbutton1" id="createbutton">Create button</div>
<div class="deletebutton1" id="deletebutton">delete button</div>
<div class="updatebutton1" id="updatebutton">update button</div>
<div class="downloadbutton1" id="downloadbutton">download button</div>
<div class="timepassbutton1" id="timepassbutton">Time pass button</div>
<div class="passtimebutton1" id="passtimebutton">Pass Time button</div>

<div class="samebutton">Same button1</div>
<div class="samebutton">Same button 2</div>
<router-outlet></router-outlet>